---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=f83a69a47f1e62314df7b26dff1392b1&q=nashville&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-86.7844,"lat":36.1659},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":81.18,"feels_like":85.3,"temp_min":75.33,"temp_max":86.77,"pressure":1009,"humidity":72},"visibility":10000,"wind":{"speed":5.01,"deg":261,"gust":10},"clouds":{"all":20},"dt":1625874717,"sys":{"type":2,"id":2001447,"country":"US","sunrise":1625827064,"sunset":1625879200},"timezone":-18000,"id":4644585,"name":"Nashville","cod":200}'
  recorded_at: Sat, 10 Jul 2021 00:05:21 GMT
recorded_with: VCR 6.0.0
